h1 {text-align: center; font-size: 45px; font-family: Comic Sans MS; color: #e95e65}
body {background: #fcb8c5}
h2 {text-align: left; font-size: 30px; font-family: Comic Sans MS; color: #c5595e}
h3 {text-align: left; font-size: 25px; font-family: Comic Sans MS; color: #f1787e}
meow {font-family: Comic Sans MS; color: rgb(148, 64, 64); font-size: 23px}

txt {font-family: 'Times New Roman'; font-size: 23px}
